<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RealEstate</display-name>
  <welcome-file-list>
    <welcome-file>Buyer</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.controller.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Seller</display-name>
    <servlet-name>Seller</servlet-name>
    <servlet-class>com.controller.Seller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Seller</servlet-name>
    <url-pattern>/Seller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buyer</display-name>
    <servlet-name>Buyer</servlet-name>
    <servlet-class>com.controller.Buyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buyer</servlet-name>
    <url-pattern>/Buyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Account</display-name>
    <servlet-name>Account</servlet-name>
    <servlet-class>com.model.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
</web-app>